.loading-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

span.carregando{
    width: 60px;
    height: 60px;
    background-color: transparent;
    display: block;
    border: 12px solid #004A8D
    ;
    border-top: 12px solid transparent;
    border-radius: 50%;

    animation: loading 1s ease-in-out infinite; 
}

@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}