.tableService-container{
    margin-bottom: 40px;
}

.search-container{
    display: flex;
}

.searchBar-container{
    flex: 3;
    margin-right: 30px;
}

.searchBar{
    font-size: 16px;
    width: 100%;
    padding: 14px 20px;
    border: 1px solid #666666;
    border-radius: 12px;
}

.filters-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.filters-container select{
    margin: 20px 10px 20px 0px;
}

.notFound-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notFound-container h1{
    margin: 0;
}
.notFound-container p{
    font-size: 20px;
}
.notFound-container .icon{
    font-size: 84px;
    margin-bottom: 25px;
}

.filterOpen-btn{
    background-color: var(--light-grey);
    color: var(--black);
    font-size: 16px;
    border-radius: 12px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
    padding: 15px 50px;
}

.filterOpen-btn:hover{
    background-color: var(--light-grey-hover)
}

.active-filters {
    margin-bottom: 16px;
}
.active-filters h2{
    margin-bottom: 5px;
}
.filter-tag {
    display: flex;
    align-items: center;
}
.filter-tag strong{
    margin-right: 5px;
}
.filter-tag span{
    margin-right: 5px;
}
.active-filters svg{
    font-size: 24px;
    color: var(--main-red);
    cursor: pointer;
}