.dashboard-container{
    display: flex;
    margin: 30px 0px;
    gap: 20px;

}

.dashboard-container .box{
    max-width: 350px;
    padding: 30px;
}

.filter-container input{
    margin-right: 30px;
}
.filter-container{
    display: flex;
    margin-bottom: 30px;
}