.table{
    border: 1px solid #666666;
    border-collapse: collapse;
    width: 100%;
}

.table th{
    background-color: #f9fafb;
}

.clickableTh{
    cursor: pointer;
}
.clickableTh:hover{
    background-color: #e2e2e2;
}

.table th, td{
    padding: 8px;
    border: 1px solid #e5e7eb;
}

.table a{
    color: var(--main-blue);
}