.table{
    border: 1px solid #666666;
    border-collapse: collapse;
    width: 100%;
}

.table th{
    background-color: #f9fafb;
    transition: 0.3s;
}

.clickableTh{
    cursor: pointer;
}
.clickableTh:hover{
    background-color: #e2e2e2;
}

.table th, td{
    padding: 8px;
    border: 1px solid #e5e7eb;
    text-align: center; /* Alinha o texto no centro das células */

}

.table a{
    color: var(--main-blue);
}

.status-sphere {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px; 
    height: 32px;
    border-radius: 50%;
    color: white;
}
.status-sphere.pending {
    background-color: var(--main-orange);
}
.status-sphere.conclude {
    background-color: var(--main-green);
}
.status-sphere-td {
    text-align: center;
}

