aside.menu-container {
    width: 270px;
    max-height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    border-right: 2px solid #DFDFDF;
    bottom: 0;
}

ul.menu-list {
    margin: 0;
    padding: 0;
    max-height: 100%;
}

.logo-container a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    max-width: 40%;
    height: auto;
    margin: 40px 0;
}

@media (max-width: 768px) {
    aside.menu-container {
        position: inherit;
        bottom: 0;
        width: 100%;
        max-height: 0px;
        border-right: none;
    }

    ul.menu-list {
        background-color: #FFF;
        position: fixed;
        bottom: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-height: none;
        margin: 0;
        padding: 0;
        width: 100%;
        border-top: 1px solid #000;
    }
}
