.createServiceForm-container{
    padding: 20px 40px;
    margin-bottom: 40px;
    border: 1px solid var(--dark-grey);
    border-radius: 12px;
}

.createServiceForm-header p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-orange);
    font-size: 18px;
    font-weight: 600;
}

.createServiceForm-body label{
    display: block;
    margin-bottom: 15px;
}

.createServiceForm-body .icon{
    margin-right: 8px;
}

.timeInput-container{
    display: flex;
}

.timeInput-container input{
    margin-right: 15px;
}

.createServiceForm-body button{
    margin: 20px 0px 20px 0px;
}

.error-msg{
    color: var(--main-red);
    display: block;
    margin: 20px 20px 20px 0px;
}