.pagination{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 20px 0px 20px 0px;
}

.pagination button{
    border: 1px solid var(--grey);
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.pagination button:hover{
    background-color: var(--light-grey-hover);
}

.pagination button:disabled:hover{
    cursor: not-allowed;
}

.pagination span{
    margin: 0px 10px 0px 10px;
}